body {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15%;
    margin-right: 15%;
    width: 75%;
    border: 2px, solid, blue;
}

.lol {
    background-color: lightgray;
    margin-top: 20px;
    padding: 0;
    margin-bottom: 0px;
}

.sos {
    background-color: lightgray;
    font-style: italic;
    margin: 0px;
    padding: 0px;
    font-size: smaller;
}

iframe {
    max-width: 100%;
    margin-top: 0;
}